services:
  mulinex:
    build:
      context: .
      dockerfile: docker/DockerFile
      args:
        - BASE_IMAGE=osrf/ros
        - BASE_TAG=humble-desktop-full
        - IMAGE_NAME=mulinex
        - WORKSPACE=mulinex_ws

    image: mulinex:humble
    container_name: mulinex
    network_mode: "host"
    
    # Interactive shell settings
    stdin_open: true
    tty: true

    # Environment variables
    environment:
      # GUI
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      # ROS 2
      - ROS_DOMAIN_ID=10
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - RCUTILS_COLORIZED_OUTPUT=1
      # Shell history
      - HISTFILE=/home/.bash_history
      - HISTFILESIZE=${HISTFILESIZE}
      # Audio
      - PULSE_SERVER=unix:${XDG_RUNTIME_DIR}/pulse/native
      # Misc
      - MPLCONFIGDIR=/home/${USER}/.matplotlib
      - XDG_RUNTIME_DIR=/tmp/runtime-${USER}

    privileged: true
    volumes:
      # GUI
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # Workspace
      - ./:/home/ros/mulinex_ws/
      # Devices
      - /dev/input:/dev/input
      - /dev/dri:/dev/dri
      # Shared memory (required for ROS 2 DDS)
      - /dev/shm:/dev/shm
      # Shell history
      - ~/.bash_history:/home/.bash_history
      # Audio
      - ${XDG_RUNTIME_DIR}/pulse/native:${XDG_RUNTIME_DIR}/pulse/native
      # VS Code
      - ~/.vscode:/home/${USER}/.vscode
      - ~/.vscode-server:/home/${USER}/.vscode-server
      - ~/.config/Code:/home/${USER}/.config/Code
      # PlotJuggler
      - ~/docker/mulinex/Plotjuggler:/home/${USER}/.config/PlotJuggler
    devices:
      - /dev/snd:/dev/snd

networks:
  mulinex_cabled:
    driver: macvlan
    driver_opts:
      parent: enp2s0  # Change to your network interface
    ipam:
      config:
        - subnet: 100.100.100.0/24
  mulinex_wifi:
    driver: macvlan
    driver_opts:
      parent: wlp0s20f3  # Change to your network interface
    ipam:
      config:
        - subnet: 192.168.88.0/24